<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="application-name" content="TVGuidend">
    <title>TVGuidend - {{ title is defined ? title }}</title>
    <link rel="stylesheet" href="/assets/style.css">
    {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div id="container">

            {% include('nav.html.twig') %}

            <div class="container-fluid">
                <div class="row">
                    <main role="main" class="col-12">
                        {% block body %}{% endblock %}
                    </main>
                </div>
            </div>

        </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>
