    <div id="navigation">
        <div class="logo">
            <img src="/assets/images/logo.png" alt="TVHeadend Logo" width="150" border="0">
        </div>
        <div class="nav_bar">
            <div class='navi'><a href='/'>What's On Now</a></div>
            <div class='navi'><a href='/timeline'>Timeline</a></div>
            <div class='navi'><a href='/channel'>Channels</a></div>
            <div class='navi'><a href='/timers'>Timers</a></div>
            <div class='navi'><a href='/recordings'>Recordings</a></div>
            <div class='navi'><a href='/status'>Status</a></div>
        </div>
    </div>

